/* Copyright (c) 2015-2016, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along
 * with this program; if not, write to the Free Software Foundation, Inc.,
 * 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
 */

#include <dt-bindings/media/camera.h>

/ {
	i2c@7000c500 {
		#address-cells = <1>;
		#size-cells = <0>;
		status = "okay";

		ov5693_a@10 {
			compatible = "nvidia,ov5693";

			/* I2C device address */
			reg = <0x10>;

			mclk = "mclk";
			avdd-supply = <&ldo4_reg>;
			dovdd-supply = <&vdd_cam_af>;
			reset-gpios = <&gpio TEGRA_GPIO(BB, 5) 0>;
			dev_name = "ov5693";
			num = <0>;

			/* sensor capabilities */
			cap-version = <0x34340002>;
			cap-identifier = "OV5693";
			cap-sensor_nvc_interface = <3>;
			cap-pixel_types = <0x2101>;
			cap-orientation = <1>;
			cap-direction = <0>;
			cap-initial_clock_rate_khz = <6000>;
			cap-h_sync_edge = <0>;
			cap-v_sync_edge = <0>;
			cap-mclk_on_vgp0 = <0>;
			cap-csi_port = <0>;
			cap-data_lanes = <2>;
			cap-virtual_channel_id = <0>;
			cap-discontinuous_clk_mode = <1>;
			cap-cil_threshold_settle = <0>;
			cap-min_blank_time_width = <16>;
			cap-min_blank_time_height = <16>;
			cap-preferred_mode_index = <0>;
			cap-external_clock_khz_0 = <24000>;
			cap-clock_multiplier_0 = <8000000>;
			cap-external_clock_khz_1 = <0>;
			cap-clock_multiplier_1 = <0>;
			cap-hdr-enabled;
			cap-focuser_guid = <
				0x665f4144
				0x35383233
			>;
			cap-torch_guid = <
				0x6c5f4e56
				0x43414d30
			>;
		};
		ov5693_b@36 {
			compatible = "nvidia,ov5693";

			/* I2C device address */
			reg = <0x36>;

			mclk = "mclk2";
			avdd-supply = <&ldo7_reg>;
			dovdd-supply = <&vdd_cam_af>;
			cam2-gpios = <&gpio TEGRA_GPIO(BB, 6) 0>;
			reset-gpios = <&gpio TEGRA_GPIO(BB, 3) 0>;
			dev_name = "ov5693";
			num = <1>;

			/* sensor capabilities */
			cap-version = <0x34340002>;
			cap-identifier = "OV5693.1";
			cap-sensor_nvc_interface = <4>;
			cap-pixel_types = <0x2101>;
			cap-orientation = <3>;
			cap-direction = <1>;
			cap-initial_clock_rate_khz = <6000>;
			cap-h_sync_edge = <0>;
			cap-v_sync_edge = <0>;
			cap-mclk_on_vgp0 = <0>;
			cap-csi_port = <1>;
			cap-data_lanes = <2>;
			cap-virtual_channel_id = <0>;
			cap-discontinuous_clk_mode = <1>;
			cap-cil_threshold_settle = <0>;
			cap-min_blank_time_width = <16>;
			cap-min_blank_time_height = <16>;
			cap-preferred_mode_index = <0>;
			cap-external_clock_khz_0 = <24000>;
			cap-clock_multiplier_0 = <8000000>;
			cap-external_clock_khz_1 = <0>;
			cap-clock_multiplier_1 = <0>;
			cap-hdr-enabled;
		};
		ad5823@c {
			compatible = "nvidia,ad5823";

			/* I2C device address */
			reg = <0xc>;

			vdd-supply = <&ldo7_reg>;
			af-pwdn-gpios = <&gpio TEGRA_GPIO(BB, 7) 1>;
			support_mfi = "true";
		};
	};


	tegra-camera-platform {
		compatible = "nvidia, tegra-camera-platform";

		/**
		* The general guideline for naming badge_info contains 3 parts, and is as follows,
		* The first part is the camera_board_id for the module; if the module is in a FFD
		* platform, then use the platform name for this part.
		* The second part contains the position of the module, ex. rear or front.
		* The third part contains the last 6 characters of a part number which is found
		* in the module's specsheet from the vender.
		*/
		modules {
			module0 {
				badge = "tn8_a03_rear_BA519C";
				position = "rear";
				orientation = "1";
				drivernode0 {
					/* Declare PCL support driver (classically known as guid)  */
					pcl_id = "s_OV5693";
				};
				drivernode1 {
					/* Declare PCL support driver (classically known as guid)  */
					pcl_id = "v4l2_focuser_stub";
				};
				drivernode2 {
					/* Declare PCL support driver (classically known as guid)  */
					pcl_id = "f_AD5823";
				};
			};
			module1 {
				badge = "tn8_a03_front_P5V27C";
				position = "front";
				orientation = "1";
				drivernode0 {
					/* Declare PCL support driver (classically known as guid)  */
					pcl_id = "sOV5693f";
				};
			};
		};
	};
};

